<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ data.name }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

    {% include "partials/favicon.njk" %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include "partials/google-analytics.njk" %}

    {% include "partials/site-meta-head.njk" %}
  </head>
  <body>
    {{ content | safe }}
    <script>
      {% include "partials/external-links.js" %}
    </script>
  </body>
</html>