<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ data.name }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon_io/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon_io/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon_io/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/images/favicon_io/site.webmanifest' | url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include "partials/google-analytics.njk" %}

    {% include "partials/site-meta-head.njk" %}
  </head>
  <body>
    {{ content | safe }}
    <script>
      {% include "partials/external-links.js" %}
    </script>
  </body>
</html>