---
layout: "layouts/base.njk"
---

<div class="bragdoc__section" id="bragdoc__section">
    
    {% include 'partials/site-head.html' %}

    <div class="bragdoc__container">
        
        {% include 'partials/bragdoc-profile.njk' %}

    	{% for post in collections.posts | reverse %}

        {% if post.data.public %}

        {% include 'partials/bragdoc-entry.njk' %}

        {% endif %}

        {% endfor %}

    </div>

    {% include 'partials/site-foot.html' %}

</div>