<div class="bragdoc__profile">
  <img class="bragdoc__photo" src="{{ '/images/profile_picture.jpg' | url }}">
  <h1 class="bragdoc__name">{{ data.author.name }}</h1>
  <div class="role">{{ data.author.role }}</div>
</div>